<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-text" target="./tests/phpunit.log" />
    </logging>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="Netpromotion\SymfonyUp\Test\AnApp\AKernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="0" />
        <!-- define your env variables for the test env below -->
        <env name="UP_TEST_CASE" value="From phpunit.xml file" />
        <server name="REMOTE_ADDR" value="127.0.0.1" />
    </php>
</phpunit>
